/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: black;
    background-image: url(LogoPoliciaER.jpg);
    background-position: center ;
    background-position-y: -220px;
    background-position-x: -200px;
    background-repeat: no-repeat;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.titulo-form {
    text-align: center;
    margin-bottom: 10px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="file"] {
    width: calc(100% - 10px);
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Estilos para el encabezado */
.encabezado {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: flex-end; /* Alinea los elementos a la izquierda */
    align-items: center;
}

.nav-link {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
}

.nav-link:last-child {
    margin-right: 0;
}
/* Estilos para los enlaces */
.links {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Color de fondo de los enlaces */
}


